.nav {
    background-color: rgb(0, 42 47);
    display: flex;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.brand {
    margin-left: 2%;
    font-family: "Bahnschrift";
    font-size: 24px;
    color: #fbf5db;
    width: 200px;
}

.brand:hover {
    color: #fbf5db;
}

.brand:focus {
    color: #fbf5db;
}

.homeBtn {
    font-family: "Bahnschrift";
    margin-right: 2px;
    font-size: 20px;
    color: #fbfbfb;
}

.homeBtn:hover {
    color: #acacac;
}

.homeBtn:focus {
    color: #fbfbfb;
}

.newsBtn {
    font-family: "Bahnschrift";
    margin-right: 2px;
    font-size: 20px;
    color: #fbfbfb;
}

.newsBtn:hover {
    color: #acacac;
}

.newsBtn:focus {
    color: #fbfbfb;
}

.aboutUsBtn {
    font-family: "Bahnschrift";
    margin-right: 2px;
    font-size: 20px;
    color: #fbfbfb;
}

.aboutUsBtn:hover {
    color: #acacac;
}

.aboutUsBtn:focus {
    color: #fbfbfb;
}

.logInBtn {
    height: 32px;
    width: 100px;
    margin-top: 2%;
    margin-right: 10px;
    font-family: "Bahnschrift";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 30px;
    text-align: center;
}

.logInBtn:hover {
    color: #acacac;
}


.signInBtn {
  height: 42px;
  width: 120px;
  margin-right: 2%;
  font-family: "Bahnschrift";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #ed1c24;
  border-radius: 30px;
  border: 0;
  text-align: center;
}

.signInBtn:hover {
    background-color: #9c1419;
    color: #acacac;
}